/* Estilos para la barra de navegación */
.navigation-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #333;
}

.navigation-menu li {
  display: inline-block;
  margin-right: 10px;
}

.navigation-menu li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

/* Estilos para la lista de oportunidades */
.container {
  max-width: 800px;
  margin: 0 auto;
}

.opportunity-list {
  list-style: none;
  padding: 0;
}

.opportunity-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.opportunity-item span {
  display: block;
  margin-bottom: 5px;
}

.opportunity-item button {
  font-size: 0.7em;
  padding: 0.1em 0.3em;
  width: 80px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.quantity-input {
  width: 50px;
  padding: 5px;
}
